<template>
    <div>
        <div class="uk-background-green uk-text-lead uk-padding-small">
            Book Flight
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-small">
            <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
                <div>
                    <div v-for="le in flight.le" uk-grid>
                        <div class="uk-width-1-4@s">
                            <div>
                                <div class="uk-text-bold">{{ le.an }}</div>
                                <div class="uk-text-small">{{ le.cc }} - {{ le.fn }}</div>
                            </div>
                        </div>
                        <div class="uk-width-1-4@s">
                            <div>
                                <div class="uk-text-bold">{{ le.fmtDepartureTime }}</div>
                                <div class="uk-text-small">{{ le.o }}</div>
                            </div>
                        </div>
                        <div class="uk-width-1-4@s">
                            <div>
                                <div class="uk-text-bold">{{ le.fmtArrivalTime }}</div>
                                <div class="uk-text-small">{{ le.d }}</div>
                            </div>
                        </div>
                        <div class="uk-width-1-4@s">
                            <div class="uk-text-bold">{{ le.duration }}</div>
                                <div class="uk-text-small">{{ le.noOfStops }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid-medium uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-text-lead">Choose your Seat</div>
                    <SeatMap></SeatMap>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-text-lead">Fare Summary</div>
                    <table class="uk-table uk-table-responsive uk-table-divider">
                        <tbody>
                            <tr>
                                <td class="uk-align-left uk-margin-small">Base Fare</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.bf }}</td>
                            </tr>
                            <tr v-if="flight.nft[0]">
                                <td class="uk-align-left uk-margin-small">Regional Connectivity Fund</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[0].tv }}</td>
                            </tr>
                            <tr v-if="flight.nft[4]">
                                <td class="uk-align-left uk-margin-small">Airline Fuel Charge</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[4].tv }}</td>
                            </tr>
                            <tr v-if="flight.nft[1]">
                                <td class="uk-align-left uk-margin-small">GST</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[1].tv }}</td>
                            </tr>
                            <tr v-if="flight.nft[2]">
                                <td class="uk-align-left uk-margin-small">Passenger Service Fee</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[2].tv }}</td>
                            </tr>
                            <tr v-if="flight.nft[3]">
                                <td class="uk-align-left uk-margin-small">User Development Fee</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[3].tv }}</td>
                            </tr>
                            <tr v-if="flight.nft[2]">
                                <td class="uk-align-left uk-margin-small">Passenger Service Fee</td>
                                <td class="uk-align-right uk-margin-small">₹ {{ flight.nft[2].tv }}</td>
                            </tr>
                            <tr>
                                <td class="uk-text-bold uk-align-left uk-margin-small">GRAND TOTAL</td>
                                <td class="uk-text-bold uk-align-right uk-margin-small">₹ {{ flight.af }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div><button class="uk-button uk-background-green" v-on:click="checkOut">Checkout</button></div>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-text-bold uk-align-left">Reviews</div>
            <div>
                <ul class="uk-comment-list">
                    <li v-for="review in reviews" :key="review.id">
                        <article class="uk-comment uk-visible-toggle">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ review.author }}</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">{{ review.date }}</a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                            </header>
                            <div class="uk-comment-body">
                                <p>{{ review.content }}</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import SeatMap from '@/components/SeatMap'
import config from '@/api/config'

export default {
  name: 'BookFlight',
  data () {
    return {
        reviews: []
    }
  },
  components: {
      SeatMap
  },
  computed: {
      flight() {
          return this.$store.state.flightSearch.result.flights[this.$route.params.flightNo-1]
      }
  },
  methods: {
      checkOut() {
          window.location.href = "https://fierce-reaches-21005.herokuapp.com"
      }
  },
  mounted() {
      this.$http.get(config.baseURL + '/reviews/10', {
        }).then(
            response => {
                this.reviews = response.body
                console.log(response.body)
            },
            response => {
            }
        )
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .uk-background-green {
        background-color: #012549;
        color:white;
    }
    .uk-background-dark-blue {
        background-color: #92CD00;
        color:white;
    }
    button.uk-background-green {
        background-color: #92CD00;
        color: white;
    }
    button.uk-background-green:hover {
        background-color: #6c9606;
        color: white;
    }
    button.uk-background-green:active {
        background-color: #80b205;
        color: white;
    }
    .price {
        color: #012549;
    }
</style>