<template>
    <div class="uk-card uk-card-default uk-card-body uk-margin-small">
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
            
            <div>
                <div v-for="le in flight.le" uk-grid>
                    <div class="uk-width-1-4@s">
                        <div>
                            <div class="uk-text-bold">{{ le.an }}</div>
                            <div class="uk-text-small">{{ le.cc }} - {{ le.fn }}</div>
                        </div>
                    </div>
                    <div class="uk-width-1-4@s">
                        <div>
                            <div class="uk-text-bold">{{ le.fmtDepartureTime }}</div>
                            <div class="uk-text-small">{{ le.o }}</div>
                        </div>
                    </div>
                    <div class="uk-width-1-4@s">
                        <div>
                            <div class="uk-text-bold">{{ le.fmtArrivalTime }}</div>
                            <div class="uk-text-small">{{ le.d }}</div>
                        </div>
                    </div>
                    <div class="uk-width-1-4@s">
                        <div class="uk-text-bold">{{ le.duration }}</div>
                            <div class="uk-text-small">{{ le.noOfStops }}</div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-6@s">
                <div class="uk-text-bold uk-text-lead price">₹{{ flight.af }}</div>
            </div>
            <div class="uk-width-1-6@s">
                <div><button class="uk-button uk-background-green" v-on:click="bookFlight">Book</button></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Flight',
  props: [
      'flight',
      'index'
    ],
  data () {
    return {

    }
  },
  methods: {
      bookFlight() {
          console.log(this.flight)
            this.$router.push({ name: 'BookFlight', params: {flightNo:this.index} })
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .uk-background-green {
        background-color: #92CD00;
    }
    button.uk-background-green {
        background-color: #92CD00;
        color: white;
    }
    button.uk-background-green:hover {
        background-color: #6c9606;
        color: white;
    }
    button.uk-background-green:active {
        background-color: #80b205;
        color: white;
    }
    .price {
        color: #012549;
    }
</style>