<template>
    <div>
      <FlightSearch></FlightSearch>
        <div class="container">
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom uk-padding-small">
                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center"></div>
                    </div>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center">Departure</div>
                    </div>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center">Arrival</div>
                    </div>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center">Duration</div>
                    </div>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center">Price</div>
                    </div>
                    <div>
                        <div class="uk-text-small uk-text-bold uk-text-center"></div>
                    </div>
                </div>
            </div>

            <div v-if="this.$store.state.flightSearch.result">
                <Flight
                    v-for="(item, index) in flights"
                    v-bind:index="index+1"
                    v-bind:flight="item"
                    v-bind:key="index"
                >
                </Flight>
            </div>

            <div v-if="this.$store.state.flightSearch.result == null" class="uk-card uk-card-default uk-card-body uk-margin-bottom uk-padding-small">
                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        

                    </div>
                    <div>
                        <div class="uk-text-small uk-text-center uk-padding">No results to display</div>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Flight from '@/components/Flight'
import FlightSearch from '@/components/FlightSearch'
export default {
  name: 'Flights',
  data () {
    return {
    }
  },
  components: {
    Flight, FlightSearch
  },
  computed: {
    flights() {
        return this.$store.state.flightSearch.result.flights
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>