<template>
    <div class="uk-container uk-container-expand uk-background-green">
        <div class="uk-padding">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-5@s ">
                    <autocomplete
                        url="http://localhost"
                        anchor="City"
                        v-model="fromCity"
                        label="IATA"
                        placeholder="From"
                        :debounce="debounce"
                        :min="min"
                        :initValue="fromCity"
                        :classes="{ wrapper: 'form-wrapper', input: 'uk-input uk-background-green', list: 'uk-list uk-list-large form-list', item: 'form-item' }"
                        :onShouldGetData="getData"
                        :onSelect="selectedFrom"
                        >
                    </autocomplete>
                    <!--<label class="uk-align-left uk-form-label" for="form-stacked-text">From</label>-->
                    <!--<div class="uk-form-controls boundary-align">
                        <input v-model="fromCity" v-on:input="suggestCities('from')" class="uk-input uk-background-green" type="text" placeholder="From">
                        <div id="from-dropdown" uk-dropdown="mode: click; pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                            <ul class="uk-list uk-list-divider">
                                <li v-on:click="this.$store.commit()" v-for="item in suggested.from">{{ item.City }}</li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                <div class="uk-width-1-5@s">
                    <autocomplete
                        url="http://localhost"
                        anchor="City"
                        v-model="toCity"
                        label="IATA"
                        placeholder="To"
                        :debounce="debounce"
                        :min="min"
                        :initValue="toCity"
                        :classes="{ wrapper: 'form-wrapper', input: 'uk-input uk-background-green', list: 'uk-list uk-list-large form-list', item: 'form-item' }"
                        :onShouldGetData="getData"
                        :onSelect="selectedTo"
                        >
                    </autocomplete>

                    <!--<label class="uk-align-left uk-form-label" for="form-stacked-text">To</label>-->
                    <!--<div class="uk-form-controls boundary-align">
                        
                        <input v-model="toCity" v-on:input="suggestCities('to')"class="uk-input uk-background-green" type="text" placeholder="To">
                        <div id="to-dropdown" uk-dropdown="mode: click; pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                            <ul class="uk-list uk-list-divider">
                                <li v-for="item in suggested.to">{{ item.City }}</li>
                            </ul>
                            
                        </div>
                    </div>-->
                </div>
                <div class="uk-width-1-5@s">
                    <div class="uk-form-controls boundary-align">
                        <date-picker input-class="uk-input" v-model="departureDate" format="dd/MM/yyyy" :not-before="notbefore" placeholder="Departure" lang="en" :first-day-of-week="1"></date-picker>
                    </div>
                </div>
                <div class="uk-width-1-5@s">
                    <div class="uk-form-controls boundary-align">
                        <div class="uk-form-controls">
                            <select v-model="classType" class="uk-select" id="form-stacked-select">
                                <option>E</option>
                                <option>B</option>
                                <option>PE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-5@s">
                    <button class="uk-button uk-background-green" v-on:click="searchFlights">Search</button>
                </div>
                <Loader id="loader"></Loader>
                <!--<div class="uk-width-1-4@s">
                    <v-autocomplete :items="items" v-model="item" :get-label="getLabel" :component-item='template' @update-items="updateItems">
                    </v-autocomplete>
                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
import UIkit from 'uikit'
import config from '@/api/config'
import Loader from '@/components/Loader'
import DatePicker from 'vue2-datepicker'
import Autocomplete from 'vue2-autocomplete-js'

export default {
  name: 'FlightSearch',
  components: {
    DatePicker,
    Autocomplete,
    Loader
  },
  data () {
      return {
        debounce:1000,
        min:3,
        time1: '',
        time2: '',
        notbefore: new Date(),
        shortcuts: [
            {
                text: 'Today',
                start: new Date(),
                end: new Date()
            }
        ],
        suggested: {
            from : [],
            to: []
        }
      }
  },
  methods: {
    getLabel (item) {
        return item.name
    },
    updateItems (text) {
      yourGetItemsMethod(text).then( (response) => {
        this.items = response
      })
    },
    selectedFrom(val) {
        this.$store.commit('fromCity', val.City)
        this.$store.commit('fromCityCode', val.IATA)
        console.log("Selected", val,this.$store.state.flightSearch)
    },
    selectedTo(val) {
        this.$store.commit('toCity', val.City)
        this.$store.commit('toCityCode', val.IATA)
        console.log("Selected", val,this.$store.state.flightSearch)
    },
    suggestCities(target) {
        this.$http.get(config.baseURL + config.path.suggest.cities, {
            params: {
                startsWith: this.fromCity
            }
        }).then(
            response => {
                if(target == 'from') {
                    this.suggested.from = response.body.data
                } else {
                    this.suggested.to = response.body.data
                }
            },
            response => {
            }
        )
    },
    getDate(date) {
        return date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear()
    }
    ,
    searchFlights() {
        new UIkit.modal("#loader").show()
        
        let searchParams = {
            classType: this.$store.state.flightSearch.classType,
            //dcID: "",
            deptDate:this.getDate(this.$store.state.flightSearch.departureDate),
            //deviceType:"desktop",
            //filterReq: "",
            fromCity:this.$store.state.flightSearch.fromCityCode,
            //isDateChange: "",
            //lob:"Flight",
            //noOfAdlts:1,
            //noOfChd:0,
            //noOfInfnt:0,
            //returnDate:"23/11/2017",
            toCity:this.$store.state.flightSearch.toCityCode,
            //tripType:"O",
            //tripTypeDup:"O"
        }
        
        
        this.$http.get(config.baseURL + config.path.searchFlights, {
            params: searchParams 
        }).then(
            response => {
                this.$localStorage.set('searchparams', JSON.stringify(searchParams))
                if(response.body.flights == null || response.body.flights.length == 0)
                    this.$store.commit('searchResult', null)
                else
                    this.$store.commit('searchResult', response.body)
                new UIkit.modal("#loader").hide()
                this.$router.push({ name: 'Flights' })
            },
            response => {
            }
        )
    },
    getData(value){
         return new Promise((resolve, reject) => {
            this.$http.get(config.baseURL + config.path.suggest.cities, {
                    params: {
                        startsWith: value
                    }
                }).then(
                    response => {
                        resolve(response.body.data)
                    },
                    response => {
                    }
                )
        })
    }
  },
  computed: {
    fromCity: {
        get () {
            return this.$store.state.flightSearch.fromCity
        },
        set (value) {
            this.$store.commit('fromCity', value)
        }
    },
    toCity: {
        get () {
            return this.$store.state.flightSearch.toCity
        },
        set (value) {
            this.$store.commit('toCity', value)
        }
    },
    classType: {
        get () {
            return this.$store.state.flightSearch.classType
        },
        set (value) {
            this.$store.commit('classType', value)
        }
    },
    departureDate: {
        get () {
            return this.$store.state.flightSearch.departureDate
        },
        set (value) {
            this.$store.commit('departureDate', value)
        }
    }
    
  }
 }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .uk-background-green {
        background-color: #92CD00;
    }
    button.uk-background-green {
        background-color: #003366;
        color: white;
    }
    button.uk-background-green:active {
        background-color: #012549;
        color: white;
    }
    input.uk-background-green {
        background-color: #003366;
        color: white;
    }
    input.uk-background-green:focus {
        border-width: 2px;
        border-color: white;
    }
    ::placeholder {
        color: #cecece;
        opacity: 1; /* Firefox */
    }
    #to-dropdown {
        height: 100px;
    }
</style>