<template>
    <div>
      <FlightSearch></FlightSearch>
      <Slider></Slider>
    </div>
</template>

<script>
import Slider from '@/components/Slider'
import FlightSearch from '@/components/FlightSearch'
export default {
  name: 'Home',
  data () {
    return {
    }
  },
  components: {
    Slider, FlightSearch
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    button.uk-background-green {
        background-color: #003366;
        color: white;
    }
    button.uk-background-green:active {
        background-color: #012549;
        color: white;
    }
    input.uk-background-green {
        background-color: #003366;
        color: white;
    }
    input.uk-background-green:focus {
        border-width: 2px;
        background-color: #003366;
        color: white;
        border-color: white;
    }
    
    input.uk-background-green::placeholder {
        color: #cecece;
        opacity: 1; /* Firefox */
    }

    
    .form-list {
      position: absolute;
      z-index: 1000;
      width:100%;
      background-color: white;
      padding: 0;
      max-height: 200px;
      overflow-y: auto;
    }
    div.form-list > ul {
      margin:0;
    }

    div.form-list > ul {
      margin:0;
    }
    div.form-list > ul > li > a > div {
      color:#003366;
      padding-top: 10px;
      margin-left: -30px;
      padding-bottom: 10px;
    }
    .form-wrapper {
      position: relative;
      color:white;
    }
</style>
