<template>
  <div class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Sign in with FlyNow</legend>

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" type="email" v-model="email" placeholder="Email">
                </div>
            </div>  

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" v-model="password" placeholder="Password">
                </div>
            </div>
                                        
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" v-on:click="logIn">Login</button>
            </div>

        </fieldset>

    </div>
</div>
</template>

<script>
import API from '../api'
import UIkit from 'uikit'

export default {
    name: 'Login',
    computed: {
        
        email: {
            get () {
                return this.$store.state.login.email
            },
            set (value) {
                this.$store.commit('loginEmail', value)
            }
        },
        password: {
            get () {
                return this.$store.state.login.password
            },
            set (value) {
                this.$store.commit('loginPassword', value)
            }
        }

    },
    methods: {
        logIn() {
            this.$store.dispatch('logIn')
        }
    }
}
</script>

<style scoped>
    .uk-button-primary {
        background-color: #003366;
    }
</style>