<template>
    <div>
        <iframe
            id="myframe"
            width="250px"
            src="http://flynow.getspang.co/api/seats"
            height="420px"
        ></iframe>
    </div>
</template>
<script>
import config from '../api/config'
import VueFrame from 'vue-frame'
export default {
  name: 'SeatMap',
  components: { VueFrame }
}
</script>

<style scoped>
#myframe {
    overflow:hidden;
}
</style>
