<template>
    <div class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                <div class="uk-background-cover uk-visible@s" style="background-image: url('/static/slideshow/1.jpg');" uk-height-viewport></div>
                <div class="uk-padding-large">
                    <div class="uk-align-center">
                        <img src="../assets/logo.png" />
                    </div>
                    <form>
                        <fieldset class="uk-fieldset">

                            <legend class="uk-legend">Create an Account</legend>

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input class="uk-input" type="email" v-model="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: phone"></span>
                                    <input class="uk-input" type="text" v-model="mobile" placeholder="Mobile number">
                                </div>
                            </div>
                            
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" v-model="password" placeholder="Password">
                                </div>
                            </div>
                                                        
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary" @click.prevent="signUp">Signup</button>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Signup',
  computed: {
      
    email: {
        get () {
            return this.$store.state.signup.email
        },
        set (value) {
            this.$store.commit('signupEmail', value)
        }
    },
    mobile: {
        get () {
            return this.$store.state.signup.mobile
        },
        set (value) {
            this.$store.commit('signupMobile', value)
        }
    },
    password: {
        get () {
            return this.$store.state.signup.password
        },
        set (value) {
            this.$store.commit('signupPassword', value)
        }
    }

  },
  methods: {
      signUp () {
          this.$store.dispatch('signUp')
      }
  }
}
</script>

<style scoped>
    .uk-button-primary {
        background-color: #003366;
    }
</style>