<template>
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: scale; ratio: 16:7; autoplay: true; autoplay-interval: 3000">

        <ul class="uk-slideshow-items">
            <li v-for="item in items">
                <img v-bind:src="item.src" alt="" uk-cover>
            </li>
        </ul>


        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
</template>

<script>
export default {
  name: 'Slider',
  data() {
      return {
          items: [
              {
                  src: '/static/slideshow/1.jpg'
              },
              {
                  src: '/static/slideshow/2.jpg'
              },
              {
                  src: '/static/slideshow/3.jpg'
              },
              {
                  src: '/static/slideshow/4.jpg'
              }
          ]
      }
  }
}
</script>

<style>
</style>
