<template>
    <div class="uk-section-default uk-preserve-color">

        <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent ; top: 200">

            <nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push; delay-hide:0;duration:100">
                <div class="uk-navbar-left">

                    <router-link class="uk-navbar-item uk-logo" to="/">
                        <img src="../assets/logo.png" />
                    </router-link>
                </div>
                <div class="uk-navbar-right">
                    
                    <ul class="uk-navbar-nav">
                        <li v-if="!this.$store.state.login.status" class="uk-active">
                            <a href="#login-modal" uk-toggle>LOGIN</a>
                            <Login id="login-modal"></Login>
                        </li>
                        <li v-if="!this.$store.state.login.status" class="uk-active">
                            <a href="#signup-modal" uk-toggle>SIGNUP</a>
                            <Signup id="signup-modal"></Signup>
                        </li>
                        <li  class="uk-active">
                            <a href="#"  v-if="this.$store.state.login.status" class="uk-icon-link" uk-icon="icon: user"></a>
                            <div class="uk-navbar-dropdown uk-card uk-card-default uk-card-body uk-width-1-2@s">
                                <ul class="uk-nav uk-navbar-dropdown-nav uk-nav-default uk-nav-parent-icon" uk-nav>
                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Profile</a></li>
                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: menu"></span> History</a></li>
                                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span> Settings</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="/" @click="logOut"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Signout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
                    
            </nav>
        </div>
    </div>
</template>

<script>
import Login from './Login'
import UIkit from 'uikit'
import Signup from './Signup'

export default {
    name: 'TopBar',
    components: {
        Login,
        Signup
    },
    computed: {
        signUp () {
            return this.$store.state.signup.status
        },
        logIn () {
            return this.$store.state.login.status
        }
    },
    watch: {
        signUp (newStatus, oldStatus) {
            console.log(newStatus, oldStatus)
            if(newStatus) {
                UIkit.notification("<span uk-icon='icon: check'></span> Successfully created", {timeout:1500});
                new UIkit.modal("#signup-modal").hide()
                new UIkit.modal("#login-modal").show()
            }
        },
        logIn (newStatus, oldStatus) {
            if(newStatus) {
                UIkit.notification("<span uk-icon='icon: check'></span> Successfully authenticated", {timeout:1500});
                new UIkit.modal("#login-modal").hide()
                this.$session.start()
                this.$session.set('userId', this.$store.state.userId)
            }
        }
    },
    methods: {
        logOut () {
            this.$session.clear()
            this.$session.destroy()
            this.$store.commit('loginStatus')
        }
    }
}
</script>
<style>
</style>