<template>
  <div id="app">
    <TopBar></TopBar>
    <router-view/>
  </div>
</template>

<script>
import UIkit from 'uikit'
import Icons from 'uikit/dist/js/uikit-icons'
UIkit.use(Icons)

import TopBar from '@/components/TopBar'

export default {
  name: 'app',
  components: {
    TopBar
  },
  beforeCreate: function () {
    if (this.$session.exists() && this.$session.get('userId') !== null) {
      this.$store.commit('loginStatus')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
